body {
  font-family: Ubuntu, sans-serif;
  margin: 30px;
  background-color: #e5d9b3;
  background: #e5d9b3 url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  background-size: cover;
  text-align: center;
  color: #333;
}

h1 {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #612001;
}

p {
  margin: 50px auto;
  width: 100%;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  color: #612001;
}


.bloco {
  border: 3px solid #975e43;
  border-radius: 50px;
  padding: 15px;
  margin: 30px auto;
  width: 70%;
  max-width: 900px;
  background-color: #c9b798;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bloco h3 {
  font-family: 'EB Garamond', serif;
  font-size: 1.4rem;
  color: #612001;
  margin-bottom: 10px;
}

.bloco p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.bloco:hover {
  background-color: #a67450;
  transform: scale(1.10);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
